@model PracaInzynierska.Models.Exercises

<br />
<div class="ranking-box row ui-progressbar-overlay m-0">
    <div class="col-12 row">
        <div class="col-12 form-group row border-bottom pb-5">
            <label class="col-sm-1 col-form-label">Weight</label>
            <div class="col-sm-2">
                <input type="number" id="weight" class="form-control" />
            </div>
            <label class="col-sm-1 col-form-label">Reps</label>
            <div class="col-sm-2">
                <input type="number" id="reps" class="form-control" />
            </div>
            <label class="col-sm-1 col-form-label">Methods</label>
            <div class="col-sm-3">
                <select id="method" class="form-control">
                    <optgroup label="Formula">
                        <option>Epley</option>
                        <option>Brzycki</option>
                        <option>McGlothin</option>
                        <option>Lombardi</option>
                        <option>Mayhew et ai.</option>
                        <option>O'Conner et ai.</option>
                        <option>Wathen</option>
                    </optgroup>
                </select>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-info text-white" id="Get">Calculate</button>
            </div>
            <div class="w-100"></div>
            <br /><br />
            <label id="methodName" class="col-sm-2 col-form-label">Estimated 1 rep max</label>
            <div class="col-sm-1">
                <input type="number" id="output" class="form-control" />
            </div>
        </div>
        <div class="col-12 form-group row mt-5 border-bottom pb-5">
            <label id="methodName" class="col-sm-1 col-form-label">Exercise</label>
            <div class="col-sm-2">
                <select asp-for="Name" class="form-control"
                        asp-items="@ViewBag.listOfExercises" id="name">
                    <option value="">Select exercise</option>
                </select>
            </div>
            <label class="col-sm-1 col-form-label">Date</label>
            <div class="col-sm-2">
                <input type="date" class="form-control" id="expectedDate"/>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-info text-white" id="Reg">Calculate</button>
            </div>
            <div class="w-100"></div>
            <br /><br />
            <label id="methodName" class="col-sm-2 col-form-label">Estimated weight in 1 set</label>
            <div class="col-sm-1">
                <input type="number" id="outputreg" class="form-control" />
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/CalculateData.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
}