@model PracaInzynierska.Models.Exercises


<form asp-controller="Chart" asp-action="TrainingDateDropDownList/" method="get">
    <div class="form-group">
        <label asp-for="Name">
            <select asp-for="Name" class="form-control"
                    asp-items="@ViewBag.listOfExercises" id="name">
                <option value="">Select exercise</option>
            </select>
        </label>
        @*<button type="submit"></button>*@
    </div>
    <div class="form-group">
        <label asp-for="trainingHistory">
            Date from
            <select asp-for="trainingHistory.Date" class="form-control"
                    asp-items="@ViewBag.listofDates" id="dateFrom">
                <option value="">Select date from</option>
            </select>
        </label>
    </div>
    <div class="form-group">
        <label asp-for="trainingHistory">
            Date to
            <select asp-for="trainingHistory.Date" class="form-control"
                    asp-items="@ViewBag.listofDates" id="dateTo">
                <option value="">Select date to</option>
            </select>
        </label>
    </div>
    <button type="button" id="Get">Render chart</button>
</form>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
  
    </p>
</figure>

@section Scripts{
    <script src="~/js/Chart.js"></script>
}
